- if @grade.id
  - @btn_submit = t('form.btn_update')
- else
  - @btn_submit = t('form.btn_create')

= form_errors(@grade)

.well
  = form_for [:admin, @grade], :html => {:class => "form-horizontal", :role => "form"} do |form|

    .form-group{class: has_errors(@grade, :name) }
      = form.label :name, class: 'col-lg-2 control-label'
      .col-lg-6
        = form.text_field :name, class: 'form-control'
        = field_errors(@grade, :name)
    .form-group{class: has_errors(@grade, :level_id) }
      = form.label :level_id, class: 'col-lg-2 control-label'
      .col-lg-6
        = form.select :level_id, options_for_select(@levels.map{|s| [s.name, s.id]}, @grade.level_id), {},{class: 'form-control'}
        = field_errors(@grade, :level_id)

    .form-group
      %div{:class => "col-lg-offset-2 col-lg-10"}
        = form.submit @btn_submit, class: 'btn btn-primary'
        = link_to t('form.btn_cancel'), admin_grades_path, class: 'btn btn-default'
