-title 'Lista de Grados'

.row
  .col-md-6
    = link_to 'Nuevo Grado', new_admin_grade_path, { :class=>"btn btn-primary" }
  .col-md-6{:style => "text-align:right"}
    = form_tag(admin_grades_path, :method => "post", :class => "form-inline") do
      .form-group
        = text_field_tag("search[q]", params[:q], :class => "form-control")
      .form-group
        = submit_tag(t('form.btn_search'), :class => "btn btn-default")
%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Nombre
      %th Nivel
      %th
      %th
  %tbody
  - @grades.each do |grade|
    %tr
      %td= grade.id
      %td= grade.name
      %td= grade.level.name
      %td= link_to 'Editar', edit_admin_grade_path(grade)
      %td= link_to 'Eliminar', [:admin, grade], :method => :delete, :data => { :confirm => 'Estas Seguro?' }

%br
