-title 'Listado de Secciones'

.row
  .col-md-6
    = link_to 'Nueva Seccion', new_admin_section_path, { :class=>"btn btn-primary" }
  .col-md-6{:style => "text-align:right"}
    = form_tag(admin_sections_path, :method => "post", :class => "form-inline") do
      .form-group
        = text_field_tag("search[q]", params[:q], :class => "form-control")
      .form-group
        = submit_tag(t('form.btn_search'), :class => "btn btn-default")
%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Nombre
      %th Grado
      %th
      %th
  %tbody
  - @sections.each do |section|
    %tr
      %td= section.id
      %td= section.name
      %td
        ="#{section.grade.name} #{section.grade.level.name}"
      %td= link_to 'Editar', edit_admin_section_path(section)
      %td= link_to 'Eliminar', [:admin, section], :method => :delete, :data => { :confirm => 'Estas Seguro?' }

%br
