-title 'Listando Profesores'

.row
  .col-md-6
    = link_to 'Nuevo Profesor', new_admin_teacher_path, { :class=>"btn btn-primary" }
  .col-md-6{:style => "text-align:right"}
    = form_tag(admin_teachers_path, :method => "post", :class => "form-inline") do
      .form-group
        = text_field_tag("search[q]", params[:q], :class => "form-control")
      .form-group
        = submit_tag(t('form.btn_search'), :class => "btn btn-default")
%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Apellidos
      %th Nombres
      %th Dni
      %th Cumpleaños
      %th Dirección
      %th Telefono
      %th
      %th
  %tbody
  - @teachers.each do |teacher|
    %tr
      %td= teacher.id
      %td= teacher.lname
      %td= teacher.fname
      %td= teacher.dni
      %td= teacher.birthday
      %td= teacher.address
      %td= teacher.phone
      %td= link_to 'Editar', edit_admin_teacher_path(teacher)
      %td= link_to 'Eliminar', [:admin, teacher], :method => :delete, :data => { :confirm => 'Estas Seguro?' }

%br
