-title 'Lista de Cursos'

.row
  .col-md-6
    = link_to 'Nuevo Curso', new_admin_course_path, { :class=>"btn btn-primary" }
  .col-md-6{:style => "text-align:right"}
    = form_tag(admin_courses_path, :method => "post", :class => "form-inline") do
      .form-group
        = text_field_tag("search[q]", params[:q], :class => "form-control")
      .form-group
        = submit_tag(t('form.btn_search'), :class => "btn btn-default")
%hr

%table.table.table-striped
  %thead
    %tr
      %th #
      %th Nombre
      %th Nivel
      %th Grado
      %th
      %th
      %th
  %tbody
  - @courses.each do |course|
    %tr
      %td= course.id
      %td= course.name
      %td= course.grade.level.name
      %td= course.grade.name
      %td= link_to 'Editar', edit_admin_course_path(course)
      %td= link_to 'Eliminar', [:admin, course], :method => :delete, :data => { :confirm => 'Estas Seguro?' }

%br
